.input {
    width: 18rem;
    height: 2.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border: none;
    margin-left: 1rem;
    padding-left: 1rem;
}

.search {
    background-color: white;
    color: black;
    height: 2.6rem;
    border-radius: 0rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border: none;
    
}
.search:hover{
    background-color: rgb(211, 212, 212);
}

.input:focus {
    outline: 2px solid rgb(246, 157, 13);
    border: none;
}