 .tabs {
     display: flex;
     justify-content: flex-start;
     width: 60%;
     margin-left: 1rem;
 }

 @media only screen and (max-width:830px){
    .tabs{
        display: none;
    }
    .plex{
        display:none;
    }
 }
